<section class="page__hero">
  <div class="wrapper">
    <div class="header-title">
      <div class="animation">
        <h1 class="h1">
          <span>Anonymous</span>
          <span>proxy</span>
        </h1>
        <h4 class="h4">
          <span>In hac habitasse platea dictumst.</span>
        </h4>
      </div>
      <div class="header-button">
        <a href="./index.html#reasons" title="Go to reasons section">
          <img
            src="./assets/images/ico-scroll-down.svg"
            alt="Go to reasons section"
          />
        </a>
      </div>
    </div>
  </div>
</section>
