<main class="page__main">
  <section class="window">
    <div class="wrapper">
      <h4 class="window-note">
        <span>Insomnia tips</span>
      </h4>
      <h2 class="window-title">
        <span>Looking through a</span>
        <span>window</span>
      </h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <div class="window-button">
        <a href="#" alt="Go" title="Go">Go</a>
      </div>
    </div>
  </section>
  <section class="reasons" id="reasons">
    <div class="wrapper">
      <div class="reasons-title">
        <h2>3 reasons to purchase</h2>
      </div>
      <article class="content">
        <h3>Ut sed metus</h3>
        <p>
          <span>Lorem ipsum dolor sit</span>
          <span>amet, consecteur.</span>
        </p>
      </article>
      <article class="content">
        <h3>Curabitur ac erat</h3>
        <p>
          <span>Mauris mattis urna</span>
          <span>quis lorem molestie.</span>
        </p>
      </article>
      <article class="content">
        <h3>Morbi dictum</h3>
        <p>
          <span>Aliquam in dolor et</span>
          <span>dolor tincidunt.</span>
        </p>
      </article>
      <div class="reasons-button">
        <a href="#" alt="More reasons" title="More reasons">More reasons</a>
      </div>
    </div>
  </section>
</main>
