// fonts
$font-title: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$regular-weight: 400;
$bold-weight: 700;
$defaultFontSize: 16;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #304268;
$color-secondary: #0271bc;
$color-button: #f26002;
$color-note: #8ccbea;

$greyish-brown: #4a4a4a;
$ice-blue: #eff9ff;
$black-50: rgba(0, 0, 0, 0.5);

//Breakpoints
$tablet: 768px;
$desktop: 1280px;
